@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

body{
  font-family:'Indie Flower', cursive;
  font-size: 18px;
  color:#722;
}

a, a:visited{
  color:#9DB770;
}

h1, h2 {
  font-family: 'Amatic SC', cursive;
  font-weight:bold;
  color:#aaa;
}

#container{
    width:425px;
    margin-right:auto;
    margin-left:auto;
}


header h1 {
  font-size: 60px;
  text-align:center;
}

ul.social{
  list-style:none;
  padding-left:0;
}

ul.social li{
  display:inline;
  margin:0 3px;
}

ul.social a{
  color:#9DB770;
  text-decoration:none;
  margin-left:right;
}

#contact {
  font-size:18px;
  font-weight:none;
  color:#9DB770;
  text-align:center;
}

#navcontainer ul{
  padding: 0;
  list-style-type: none;
  font-size: 18px;
}

#navcontainer ul li{
  display: inline-block;
  font-size:18px;
  margin-right: 4px;
}

#navcontainer ul li:last-child {
  margin: 0;
}

#navcontainer ul li a
{
text-decoration: none;
padding: 0.1em 1em;
color: #fff;
background-color: #9DB770;
}

#navcontainer ul li a:hover {
  color: #fff;
  background-color: #9DB900;
}

h2 {
  font-size:40px;
}

.timeline {
    margin-bottom: 32px;
}

.timeline .timeline-item {
    width: 100%;
    clear: both;
    border-left: 4px solid #aaa;
}

.year {
  font-family:'Amatic SC',cursive;
  font-size: 24px;
  font-weight: bold;
}

.info{
  font-size: 18px;
  padding-bottom: 36px;
  line-height: 1.5;
  padding-left: 28px;
}

.year,
.info {
    color: #eee;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}


.timeline .timeline-item .marker {
    background-color: #fff;
    border: 4px solid #aaa;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    float: left;
    left:-16px;
    top: -2px;
    z-index: 2000;
    position: relative;
    }


.timeline .timeline-item.active .info,
.timeline .timeline-item:hover .info
{
color: #444;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
}



.timeline .timeline-item.active .year,
.timeline .timeline-item:hover .year {
    color: #9DB668;
}


.timeline .timeline-item .marker .dot {
    background-color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    z-index: 2000;
    position: relative;
}

.timeline .timeline-item.active .marker .dot,
.timeline .timeline-item:hover .marker .dot {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #9DB770;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
