@media (max-width: 320px){

body~h1{
  font-family:sans-serif;
  font-size:12px;
}

#container{
    border: 0;
    max-width: 320px;
    margin: 0;
    padding: 0.5em;
  }

a:hover{
  display:none;
}

img{
      width: 310px;
      height: auto;
  }

#navcontainer ul{
    padding: 0;
    list-style-type: none;
    font-size: 12pt;
  }

#navcontainer ul li{
    display: inline-block;
    font-size:12px;
    margin-right:25px;
    margin-left:8px;
  }

.timeline .timelinesub .info{
  color:#424242;
}

.timeline .timelinesub .date {
    color:#88A65E;
}

.timeline .timelinesub.circle .dot {
    background-color: #AAB3AB;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}












































}
