@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

body{
  font-family:'Indie Flower', cursive;
  font-size: 18px;
}

a,a:hover{
  color:#424242
  }


a, a:visited{
  color:#88A65E;
}


h1, h2 {
  font-family: 'Amatic SC', cursive;
  font-weight:bold;
  color:#424242;
  margin-left:12px;
}

#container{
    width:425px;
    margin-right:auto;
    margin-left:auto;
}


header h1 {
  font-size: 60px;
  text-align:center;
}

ul.social{
  list-style:none;
  padding-left:0;
}

ul.social li{
  display:inline;
  margin:0 3px;
}

ul.social a{
  color:#88A65E;
  text-decoration:none;
  margin-left:right;
}

#contact {
  font-size:18px;
  font-weight:none;
  color:#88A65E;
  text-align:center;
}

#navcontainer ul{
  padding: 0;
  list-style-type: none;
  font-size: 20px;
}

#navcontainer ul li{
  display: inline-block;
  font-size:20px;
  margin-right:5px;
  margin-left:5px;
}

#navcontainer ul li:last-child {
  margin-right: 0;
}

#navcontainer ul li a{
text-decoration: none;
padding: 0.2em 1.6em;
color: #fff;
background-color:#88A65E;
}

#navcontainer ul li a:hover{
  color:#fff;
  background-color:#424242;
}

h2 {
  font-size:40px;
}

.timeline {
  margin-bottom: 32px;
}

.timeline .timelinesub {
    width: 100%;
    clear: both;
    border-left: 4px solid #88A65E;
    margin-left:12px;
}

.date {
  font-family:'Amatic SC',cursive;
  font-size: 24px;
  font-weight: bold;
}

.info{
  font-size: 18px;
  padding-bottom: 36px;
  line-height: 1.5;
  padding-left: 28px;
}


.date,
.info {
  color: #eee;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}


.timeline .timelinesub .circle {
  background-color:#eee;
  border: 4px solid #BCBCBC;
  height: 15px;
  width: 20px;
  border-radius: 80px;
  float: left;
  left:-16px;
  top: -2px;
  z-index: 1000;
  position: relative;
}


.timeline .timelinesub.positive .info,
.timeline .timelinesub:hover .info
{
 color:#424242;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 transition: all 1s ease;
}



.timeline .timelinesub.positive .date,
.timeline .timelinesub:hover .date {
    color:#88A65E;
}


.timeline .timelinesub .circle .dot {
    background-color:#eee;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
    border: 4px solid #fff;
    height: 8px;
    width: 12px;
    border-radius: 100px;
    z-index: 1000;
    position: relative;
}


.timeline .timelinesub .circle .dot {
    background-color:#eee;
    display: block;
    border: 4px solid #fff;
    height: 8px;
    width: 12px;
    border-radius: 100px;
    z-index: 1000;
    position: relative;
}


.timeline .timelinesub.positive .circle .dot,
.timeline .timelinesub.circle .dot {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #AAB3AB;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}


img {
   padding:1px;
   border:1px solid #AAB3AB;
}


footer{
  font-size:14px;
  color:#88A65E;
}
